@page "/todo/{id}"

<PageTitle>Edit a TO-DO item</PageTitle>

<section>
    <EditForm Model="@TodoItem" OnValidSubmit="@HandleValidSubmit">
        <div class="form-group row">
            <label for="title" class="col-sm-3">Title: </label>
            <InputText id="title" class="form-control col-sm-8" @bind-Value="@TodoItem.Title" placeholder="e.g. Visit parents"></InputText>
        </div>
        <div class="form-group row">
            <label for="isDone" class="col-sm-3">Is it done: </label>
            <InputCheckbox id="isDone" @bind-Value="@TodoItem.IsDone"></InputCheckbox>
        </div>

        <section>
            <input type="submit" class="btn btn-primary edit-btn" value="Save" />
            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to list</a>
        </section>
    </EditForm>
</section>
