@page "/todos/{id}"

<PageTitle>Edit a TO-DO item</PageTitle>

<section>
    <EditForm Model="@TodoItem" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label for="title" class="col-sm-3">Title: </label>
            <InputText id="title" class="form-control col-sm-8" @bind-Value="@TodoItem.Title" placeholder="e.g. Visit parents"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => TodoItem.Title)" />
        </div>

        <div class="form-group row">
            <label for="isDone">
                <InputCheckbox id="isDone" @bind-Value="@TodoItem.IsDone"></InputCheckbox>
                &nbsp;Is it done?
            </label>
        </div>

        <section>
            <input type="submit" class="btn btn-primary edit-btn" value="Save" />
            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to list</a>
        </section>
    </EditForm>

    <Counter />

    @*<a class="btn btn-outline-primary" @onclick="@Recover">Recover counter</a>*@
    @*<ErrorBoundary>
        <ChildContent>
            <Counter />
        </ChildContent>
        <ErrorContent>
            <p class="errorUI">Nothing to see here right now. Sorry!</p>
        </ErrorContent>
    </ErrorBoundary>*@
    @*<ErrorBoundary @ref="ErrorBoundary">
        <Counter />
    </ErrorBoundary>*@

</section>
